<div class="container">

  <div class="row">
    <div class="col s12">
      <ul class="tabs" materialize="tabs">
        <li class="tab col s3">
          <a [routerLink]="['/bookmarks']">Bookmarks</a>
        </li>
        <li class="tab col s3">
          <a class="active">Books</a>
        </li>
        <li class="tab col s3">
          <a [routerLink]="['/search']">Search</a>
        </li>
      </ul>
    </div>
  </div>

  <table *ngIf="books.length" class="bordered highlight">
    <thead>
      <tr>
        <th></th>
        <th>Book</th>
        <th class="hide-on-small-only">Author</th>
        <th class="hide-on-med-and-down">Last Updated</th>
        <th class="hide-on-small-only"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>
          <a *ngIf="book.thumbnailFile" (click)="viewBook(book)">
            <img src="/api/files/{{book.thumbnailFile}}" alt="thumbnail" class="responsive-img">
          </a>
        </td>
        <td>
          <a (click)="viewBook(book)">
            {{book.title}}
          </a>
        </td>
        <td class="hide-on-small-only">
          <a (click)="search(book.author)">{{book.author}}</a>
        </td>
        <td class="hide-on-med-and-down">{{book.date | date: 'yyyy-MM-dd hh:mm'}}</td>
        <td class="hide-on-small-only">
          <a class="btn-floating waves-effect waves-light green lighten-2" href="/api/files/{{book.contentFile}}">
            <i class="material-icons">file_download</i>
          </a>
          <a *ngIf="book.ebookFile" class="btn-floating waves-effect waves-light amber" href="/api/files/{{book.ebookFile}}">
            <i class="material-icons">book</i>
          </a>
          <button class="btn-floating waves-effect waves-light blue lighten-2" (click)="editBook(book)">
            <i class="material-icons">edit</i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
