<header>
  <nav role="navigation">
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo hide-on-med-and-down">Evelyn Digital Library</a>
      <a href="/" class="brand-logo hide-on-large-only">Evelyn</a>
      <a *ngIf="authenticated" href="#" materialize="sideNav" data-activates="nav-mobile" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <ul *ngIf="authenticated" class="right hide-on-med-and-down">
        <li>
          <a class="reindex modal-trigger" href="#reindex-confirm">
            <i class="material-icons">insert_chart</i>
          </a>
        </li>
        <li>
          <a class="delete-views modal-trigger" href="#delete-views-confirm">
            <i class="material-icons">delete_sweep</i>
          </a>
        </li>
        <li>
          <a href="add">
            <i class="material-icons">library_add</i>
          </a>
        </li>
        <li>
          <a (click)="logout()">
            <i class="material-icons">exit_to_app</i>
          </a>
        </li>
      </ul>
      <ul *ngIf="authenticated" id="nav-mobile" class="side-nav">
        <li>
          <a class="reindex modal-trigger" href="#reindex-confirm">
            <i class="material-icons">refresh</i> Rebuild Index</a>
        </li>
        <li>
          <a class="delete-views modal-trigger" href="#delete-views-confirm">
            <i class="material-icons">delete_sweep</i> Delete All Views</a>
        </li>
        <li>
          <a href="add">
            <i class="material-icons">library_add</i> Add Book</a>
        </li>
        <li>
          <a href="logout">
            <i class="material-icons">exit_to_app</i> Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      <div>&copy; Copyright 2012-2017 by Chengyu Sun.</div>
      <div style="font-size: smaller">Icons made by
        <a href="https://www.flaticon.com/authors/popcorns-arts" title="Icon Pond">Icon Pond</a> from
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
      </div>
    </div>
  </div>
</footer>
