<div class="container">

  <div class="row">
    <div class="col s12">
      <ul class="tabs" materialize="tabs">
        <li class="tab col s3">
          <a [routerLink]="['/bookmarks']">Bookmarks</a>
        </li>
        <li class="tab col s3">
          <a [routerLink]="['/books']">Books</a>
        </li>
        <li class="tab col s3">
          <a class="active">Search</a>
        </li>
      </ul>
    </div>
  </div>

  <form #f="ngForm" (ngSubmit)="search()">
    <div class="row valign-wrapper left-align">
      <div class="input-field col s5 m8">
        <input id="term" name="term" type="text" required [(ngModel)]="term">
        <label class="active" for="term">Term</label>
      </div>
      <div class="col s7 m4 left-align">
        <button class="btn waves-effect waves-light" type="submit" [disabled]="!f.form.valid">
          <i class="material-icons">search</i>
        </button>
        <button class="btn waves-effect waves-light orange" type="reset" [disabled]="!f.form.valid" (click)="clear()">
          <i class="material-icons">close</i>
        </button>
      </div>
    </div>
  </form>

  <table *ngIf="books.length" class="bordered highlight">
    <thead>
      <tr>
        <th></th>
        <th>Book</th>
        <th class="hide-on-small-only">Author</th>
        <th class="hide-on-med-and-down">Last Updated</th>
        <th class="hide-on-small-only"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>
          <a *ngIf="book.thumbnailFile" (click)="viewBook(book)">
            <img src="/api/files/{{book.thumbnailFile}}" alt="thumbnail" class="responsive-img">
          </a>
        </td>
        <td>
          <a (click)="viewBook(book)">
            {{book.title}}
          </a>
        </td>
        <td class="hide-on-small-only">
          <a (click)="search(book.author)">{{book.author}}</a>
        </td>
        <td class="hide-on-med-and-down">{{book.date | date: 'yyyy-MM-dd hh:mm'}}</td>
        <td class="hide-on-small-only">
          <a class="btn-floating waves-effect waves-light green lighten-2" href="/api/files/{{book.contentFile}}">
            <i class="material-icons">file_download</i>
          </a>
          <a *ngIf="book.ebookFile" class="btn-floating waves-effect waves-light amber" href="/api/files/{{book.ebookFile}}">
            <i class="material-icons">book</i>
          </a>
          <button class="btn-floating waves-effect waves-light blue lighten-2" (click)="editBook(book)">
            <i class="material-icons">edit</i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
